*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.DS_Store
clear.bat
eclipse.bat
package.bat
*.iml
.classpath
.project
.settings/
target/*.iml
.idea/
.settings/
target/
bin/